1. Write a Python program to convert kilometers to miles?

In [8]:
kilometer = int(input("Enter the value of: "))
miles = kilometer* .621
print(f"Miles is in {kilometer} are : {miles}")

Enter the value of:  12

Miles is in 12 are : 7.452

In [20]:
def km_to_miles(kilometer):
    miles = kilometer* .621
    print(f"Miles is in {kilometer} are : {miles}")

kilometer = int(input("Enter your kilometer : "))
km_to_miles(kilometer)

Enter your kilometer :  12

Miles is in 12 are : 7.452

2. Write a Python program to convert Celsius to Fahrenheit?

In [1]:
celsius = int(input("Enter the value of celsius : "))
fahrenheit = (celsius * 9/5) + 32
print(f"Fahrenheit is in {celsius} are : {fahrenheit}")

Enter the value of celsius :  12

Fahrenheit is in 12 are : 53.6

In [3]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    print(f"Fahrenheit is in {celsius} are : {fahrenheit}")
    return fahrenheit
celsius = float(input("Enter the value of celsius : "))
celsius_to_fahrenheit(celsius)

Enter the value of celsius :  12

Fahrenheit is in 12.0 are : 53.6

53.6

3. Write a Python program to display calendar?

In [11]:
import calendar

print(calendar.monthrange(2024,12))

(calendar.SUNDAY, 31)

In [15]:
import calendar

print(calendar.calendar(2024))

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [17]:
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

4. Write a Python program to solve quadratic equation?

In [73]:
import cmath

a = 1
b = 4
c = 2

dis = (b**2) - (4 * a*c)

ans1 = (-b - cmath.sqrt(dis))/(2 * a)
ans2 = (-b + cmath.sqrt(dis))/(2 * a)

print('The roots are')
print(ans1)
print(ans2)

The roots are
(-3.414213562373095+0j)
(-0.5857864376269049+0j)

5. Write a Python program to swap two variables without temp variable?

In [76]:
first_variable = 20
second_variable = 30
first_variable,second_variable = second_variable,first_variable

print("First variable value after swap :",first_variable)
print("Second variable value after swap :",second_variable)

First variable value after swap : 30
Second variable value after swap : 20

In [19]:
# Swap two variables without using a temporary variable

# Example variables
a = 5
b = 10

# Display values before swapping
print("Before swapping:")
print("a =", a)
print("b =", b)

# Swapping the values
a, b = b, a

# Display values after swapping
print("\nAfter swapping:")
print("a =", a)
print("b =", b)

Before swapping:
a = 5
b = 10

After swapping:
a = 10
b = 5